---
---

@import "{{ site.theme }}";

.page-header {
background: linear-gradient(#1f7300,#4f9307);
padding: 2rem 4rem;
}
.project-logo {
background: url(https://www.filamentgroup.com/images/svg/fg-logo.svg) 50% 50% no-repeat;
background-size: 90% auto;
display: block;
margin: .2em auto 0;
text-indent: -9999px;
overflow: hidden;
max-width: 170px;
height: 30px

}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
color: #2c9915;
}
.project-tagline {
    margin-top: .2rem;
    opacity: .9;
}
.modal_link {
    display: inline-block;
    padding: .5em 1em;
    border: #aaa;
    background: #eee;
    text-decoration: none;
    border-radius: .2em;
}

.btn {
    color: rgba(255,255,255,0.9);
}


   .btn:hover {
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(255,255,255,0.1);
    border-color: rgba(255,255,255,0.6);
    }